# Pandas 2: Group, Explode, Pivot

In this notebook you will practice some more advanced concepts from Pandas: Group, Explode and Pivot

## Getting started

Load the libraries:

In [ ]:
import pandas as pd
import answers


# Grouping

Read about [grouping data](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html).

### Exercise 12

Given the `grades` DataFrame below, group the data the course name. Do the following:

- Create a grouping, on the course name, called `groups`.
- Use a `for` loop to loop over the content of `groups`. Print the name and content of each group.
- Generate a `Series` called `average_course_grade` containing the average grade for both courses.
- Generate a `Series` called `student_count` containing the total number of students for both courses.

In [ ]:
grades = pd.DataFrame([["Pascal", "Programming 2", 7.0], ["Morty", "Programming 1", 5.5], 
                       ["Slartibartfast", "Programming 1", 6.5], ["Ursula", "Programming 1", 9.5],
                       ["Morty", "Programming 2", 3.5], ["Marge", "Programming 1", 8.0],
                       ["Ursula", "Programming 2", 9.0]], 
                       columns = ["student_name", "course_name", "grade"])
                      
# your code here

display(average_course_grade)
display(student_count)

Check your answer by running the cell below.

In [ ]:
answers.test_12(average_course_grade, student_count)

You can also use the `head(n)` method as an agregate function similar to `count()` or `mean()`. IT will yield the first `n` entries for each group. Read more about [groupby + head](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.head.html).

### Exercise 13

Use `groupby` and `head` to select the **top two students** of each course of the `grades` DataFrame from above. Store the result in `top_students`.

The result should look like this: 

      student_name    course_name  grade
    3       Ursula  Programming 1    9.5
    6       Ursula  Programming 2    9.0
    5        Marge  Programming 1    8.0
    1        Morty  Programming 2    5.5

> **Hint:** you might have to sort the values of the grades DataFrame *before* doing the `groupby` operation. (`groupby` will preserve the order within groups)

In [ ]:
# your code here

display(top_students)

Check your answer by running the cell below.

In [ ]:
answers.test_13(top_students)

## Pivot

Read about [pivot tables](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html).

### Exercise 14

Based on the `grades` DataFrame from previous exercises. Create a pivot table called `pivot_grades` that has the student names as rows and the course names as columns. The values in the table should be the grades of the corresponding combination of student and course. When the students only got a grade for one of the two courses, `pivot_table` should autmatically assign the value `NaN`. This is ok, you can leave this.

In [ ]:
# your code here
display(pivot_grades)

Check your answer by running the cell below.

In [ ]:
answers.test_14(pivot_grades)

## Explode

Read about [exploding DataFrames](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.explode.html).

### Exercise 15

Create an unnested version of the `movies` DataFrame below. So the result should look like this:

                          movie                actors
    0            Hababam Sinifi           Kemal Sunal
    0            Hababam Sinifi           Münir Özkul
    0            Hababam Sinifi        Halit Akçatepe
    0            Hababam Sinifi            Tarik Akan
    1  The Shawshank Redemption           Tim Robbins
    1  The Shawshank Redemption        Morgan Freeman
    1  The Shawshank Redemption            Bob Gunton
    1  The Shawshank Redemption        William Sadler
    2                  Aynabaji    Chanchal Chowdhury
    2                  Aynabaji  Masuma Rahman Nabila
    2                  Aynabaji    Bijori Barkatullah
    2                  Aynabaji          Partha Barua
    3             The Godfather         Marlon Brando
    3             The Godfather             Al Pacino
    3             The Godfather            James Caan
    3             The Godfather          Diane Keaton
    
Store the result in `exploded_actors`

In [ ]:
movies = pd.DataFrame([["Hababam Sinifi",
                           ["Kemal Sunal", "Münir Özkul", "Halit Akçatepe", "Tarik Akan"]],
                      ["The Shawshank Redemption",
                           ["Tim Robbins", "Morgan Freeman", "Bob Gunton", "William Sadler"]],
                      ["Aynabaji", 
                           ["Chanchal Chowdhury", "Masuma Rahman Nabila", "Bijori Barkatullah", "Partha Barua"]],
                      ["The Godfather",
                           ["Marlon Brando", "Al Pacino", "James Caan", "Diane Keaton"]]],
                     columns = ["movie", "actors"])

# your code here
display(exploded_actors)

Check your answer by comparing to the table above.

## Reading and writing data 

Look at how you can [store data as a csv file](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html).
Look at how you can [read the data back](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

### Exercise 16

As a final challenge try to see if you can combine the pandas methods `read_csv`, `to_csv`, `map`, `explode`, `sort_values`, `groupby` and `head` for a more complex data transformation.

The file `data/recipes.csv` contains a few recipes with their lists of ingredients. The recipes were rated on a scale from 1 to 5 by the users of a food website. The file also contains the average rating of the recipes. The contents:

    recipe_name,rating,ingredients
    Caprese Salad,4.5,tomato;olive oil;basil;mozzerella
    Lasagna,4.8,beef;pork;bacon;onion;celery;carrot;wine;tomato
    Beef Bourguignon,4.3,beef;bacon;onion;carrot;celery;flour;garlic;wine
    Hamburger,3.8,beef;bacon;letuce;bread;onion;mayo;ketchup;pickle
    Lentil Burger,4.0,lemon;lentils;yogurt;garlic;mushrooms;miso;parika;flour;bread;pickles

As you can see, the first column is the name, the second column contains the average rating and the third column contains all the ingredients (separated by a semicolon `;`).

We want to know for each ingredient, what the **top two recipes** are that contain that ingredient. So, the two recipes with the highest rating containing that ingredient. For example, the top two recipes for *bacon* are *Lasagna* and *Beef Bourguignon*. (*Hamburger* also contains *bacon*, but it's rating is lower than the other two recipes, so we ignore that one.)

Write a piece of code that reads the file `data/recipes.csv`, does all the required transformations and produces a file `ingredients.csv` into the `data` folder, containing the information we want. A fragment of the contents of the output file you should produce is shown here:

    ingredients,recipe_name
    bacon,Lasagna
    bacon,Beef Bourguignon
    basil,Caprese Salad
    beef,Lasagna
    beef,Beef Bourguignon
    bread,Hamburger
    bread,Lentil Burger
    carrot,Lasagna
    carrot,Beef Bourguignon
    ...

As you can see, the first two entries are the top two recipes for *bacon*. After that we see only one entry for *basil*, because *basil* occurs in only one recipe. This is okay: If an ingredient only occurs in one recipe, the output should only contain that entry.

_The output should be sorted by the name of the ingredient._ Note that the output csv should not contain indices. Your outputted csv should look exactly like the example above.

> **Hint:** After reading the csv, the third column contains all the ingredients in a single string. Write a function `separate_semicolons(ingredient_string)` that accepts such a string of ingredients separated by semicolons. The function should return a list of ingredients. You can then use this function in Pandas' `.map()` to get a list of ingredients in every row of your `DataFrame`!

In [ ]:
# your code here

Check your answer by running the cell below.

In [ ]:
answers.test_16()